/* ---------- specification ---------- */

@font-face {
  src: url('../fonts/fontello.woff');
  font-family: 'fontello';
}
    
html {
    font-size: 10px;
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
.container {
    max-width: 1155px;
    margin: 0 auto;
    padding: 0 0;
}


/*--------header-----------*/
.header{
    background-color: #eff0f2;
}

.header__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.logo{
    width: 110px;
    grid-column-start: 1;
    grid-column-end: 12;
    margin-top: 65px;
}
.logo__item{
    font-size: 1.7rem;
    color: #000000;
    padding: 10px;
    border: solid 5px #000000;
}
.menu{
    margin-top: 80px;
}
.blue_O{
    color: #77efe5;
    font-size: 2.1rem;
}
.main__txt{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 13;
    margin-top: 205px;
    margin-bottom: 150px;
}
.main__txt_bg{
    background-color: #b2f2ee;
    padding: 0 10px;
}
.main__txt_style{
    text-shadow: 5px 5px 5px #000;
    word-spacing: 10px;
    font-size: 4.5rem;
}
.main__contact{
    text-decoration: none;
    background: none;
    font-size: 1.8rem;
    padding: 15px 50px;
    border: solid 2px #777879;
    color: #777879;
}
.main__button{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 13;
    margin-bottom: 200px;
}



/*-------about us-------*/
.about_us{
    background-color: #f8fafa;
}
.about_us_content{
    display: grid;
    grid-template-columns: repeat(12, 1fr)
}
.about_us_head{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 150px;
}
.car_for_about{
    background-color: #eff0f2;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 490px;
    width: 480px;
    margin-bottom: 100px;
}
.car_indic{
    bottom: 70px;
}

.about_us_second_info{
    grid-column-start: 7;
    grid-column-end: 13;
    margin-left: 60px;
}
.about_us_second_info_title{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 40px;

}
.about_us_second_info_txt{
    font-size: 1.6rem;
    line-height: 30px;
}



/*--------works-------*/

.works__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.works__head{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    text-transform: uppercase;
    margin-top: 130px;
    margin-bottom: 120px;
}
.project_img{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
.project_number_one{
    grid-column-start: 1;
    grid-column-end: 5;
}
.project_number_two{
    grid-column-start: 5;
    grid-column-end: 9;
}
.project_number_three{
    grid-column-start: 9;
    grid-column-end: 13;
}
.project_number_four{
    grid-column-start: 1;
    grid-column-end: 5;
}
.project_number_five{
    grid-column-start: 5;
    grid-column-end: 9;
}
.project_number_six{
    grid-column-start: 9;
    grid-column-end: 13;
}



/*-----------services---------*/

.services{
    background-color: #f9fbfb;
}
.services__content{
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.services__main{
    text-transform: uppercase;
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    margin: 125px 0;
}
.services__item{
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    &>div{
        background-repeat: no-repeat;
        background-size: cover;
        &:hover{
            box-shadow:inset 0 0 20px 230px rgba(0, 0, 0, 0.5) ;
            .services__item__preview{
                display: inherit;
            }
        }
    }
}
.services__item__preview{
    width: 350px;
    position: relative;
    left: 50px;
    top: 80px;
    display: none;
}
.services__item__name{
    color: #fff;
    font-size: 2rem;
}
.services__item__title{
    color: #fff;
    font-size: 1.6rem;
    margin: 33px 0 63px 0;
}
.services__item__btm{
    color: #fff;
    font-size: 1.8rem;
    border: none;
    padding: 0;
    &:hover{
        background: none;
    }
}
.item__one{
    background-image: url('../img/services1.png');
    grid-column-start: 1;
    grid-column-end: 8;
    height: 422px;
    background-position-x: left;
}
.services__item__name{
    font-size: 2rem;
    color: #fff;
    display: block;
}
.services__item__title{
    font-size: 1.6rem;
    color: #fff;
    display: block;
}
.item__two{
    background-image: url('../img/services2.png');
    grid-column-start: 8;
    grid-column-end: 13;
    height: 422px;
    background-position-x: right;
}

.item__three{
    background-image: url('../img/services3.png');
    grid-column-start: 1;
    grid-column-end: 8;
    height: 370px;
    background-position-x: left;
}

.item__four{
    background-image: url('../img/services4.png');
    grid-column-start: 8;
    grid-column-end: 13;
    height: 370px;
    background-position-x: right;
}

.item__five{
    background-image: url('../img/services5.png');
    grid-column-start: 1;
    grid-column-end: 6;
    height: 370px;
    background-position-x: left;
}

.item__six{
    background-image: url('../img/services6.png');
    grid-column-start: 6;
    grid-column-end: 13;
    height: 370px;
    background-position-x: right;
}





/*--------team-------*/

.team__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 180px;
}
.team__head{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    margin: 125px 0;
}
.team__head__name{
    font-size: 3.8rem;
    text-transform: uppercase;
}
.team__head__title{
    font-size: 1.7rem;
    text-transform: uppercase;
}
.team__people:hover .team__people_hover{
    display: inherit;
}
.team__people__items{
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
    &>div{
        background-repeat: no-repeat;
        background-position-x: center;
    }
}
.team__people_hover{
    background-color: #6ff5eb;
    width: 335px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    display: none;
}
.team__people__name{
    font-size: 2rem;
    color: #272727;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 40px;
}
.team__people__name_decoration{
    font-size: 1.5rem;
    color: #767070;
}
.team__people__info{
    font-size: 1.6rem;
    padding-left: 40px;
}
.team__people__social{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}
.team__people__link{
    display: inline;
    padding: 0 5px;
    font-size: 1.5rem;
    &>a{
        text-decoration: none;
        color: #000;
        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }
}
.people_one{
    background-image: url('../img/team1.png');
    grid-column-start: 1;
    grid-column-end: 5;
    height: 440px;
}
.people_two{
    background-image: url('../img/team2.png');
    grid-column-start: 5;
    grid-column-end: 9;
    height: 440px;
}
.people_three{
    background-image: url('../img/team3.png');
    grid-column-start: 9;
    grid-column-end: 13;
    height: 440px;
}
.people_four{
    background-image: url('../img/team4.png');
    grid-column-start: 1;
    grid-column-end: 5;
    height: 440px;
}
.people_five{
    background-image: url('../img/team5.png');
    grid-column-start: 5;
    grid-column-end: 9;
    height: 440px;
}
.people_six{
    background-image: url('../img/team6.png');
    grid-column-start: 9;
    grid-column-end: 13;
    height: 440px;
}



/*------theySays-------*/

.theySays{
    background-color: #f9fbfb;
}
.theySays__main{
    text-transform: uppercase;
    text-align: center;
    padding: 120px 0;
}
.theySays__slider{
    padding-bottom: 200px;
}
.carousel__img{
    float: left;
}
.carousel__information{
    display: block;
    float: right;
    margin: 50px 50px 0 0;
    background-color: #eaebed;
    text-align: center;
    width: 495px;
    padding: 100px 90px 120px 90px;
}
.carousel__information_name{
    font-size: 2rem;
}
.carousel__information_name_decor{
    font-size: 1.5rem;
    color: #787878;
}
.carousel__information_txt{
    font-size: 1.6rem;
}
.arrow_slide{
    top: 400px;
    height: 100px;
}
.arrow_slide_icon{
    background-color: #000;
    padding: 5px;
}


/*-----market------*/

.market{
    background-image: url('../img/markets.png');
    height: 172px;
    margin: 120px 0;
    background-position-x: center;
    background-repeat: no-repeat;
}


/*--------contacts------*/

.contacts{
    background-image: url('../img/footerBG.png');
}
.contacts__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.contacts__form{
    background-color: #495862;
    grid-column-start: 1;
    grid-column-end: 7;
}

.contacts__form_input{
    background-color: #495862;
    height: 40px;
    width: 550px;
    margin: 20px 0 0 10px;
    border: none;
    border-bottom: 3px solid #5e6d77;
    font-size: 1.5rem;
    padding-left: 20px;
}
.input__message{
    height: 120px;
}
.contacts__btm{
    font-size: 1.8rem;
    background-color: #6eeee4;
    border: none;
    padding: 10px 30px;
    margin-left: 20px;
    margin-top: 20px;
}